
:root {
    --colorDeafultO: #55555e;    
    --colorDeafultWhiteOnPst: #ffffff;    
    --colorDeafultBlack: #000000;    
    --colorGrey04: #414342;    
    --colorGrey01: #c4c5c5;    
    --colorGrey02: #a7a9a9;    
    --colorGrey03: #5f6361;    
    --colorSuccessSuccess50: #e8f8e8;    
    --colorSuccessSuccess100: #b6e9b8;    
    --colorSuccessSuccess200: #93de96;    
    --colorSuccessSuccess300: #62cf66;    
    --colorSuccessSuccess400: #43c649;    
    --colorSuccessSuccess500: #14b81b;    
    --colorSuccessSuccess600: #12a719;    
    --colorSuccessSuccess700: #0e8313;    
    --colorSuccessSuccess800: #0b650f;    
    --colorSuccessSuccess900: #084d0b;    
    --colorSecondarySecondary50: #f5ebe7;    
    --colorSecondarySecondary100: #dfc0b4;    
    --colorSecondarySecondary200: #d0a18f;    
    --colorSecondarySecondary300: #ba765c;    
    --colorSecondarySecondary400: #ad5c3d;    
    --colorSecondarySecondary500: #98330c;    
    --colorSecondarySecondary600: #8a2e0b;    
    --colorSecondarySecondary700: #6c2409;    
    --colorSecondarySecondary800: #541c07;    
    --colorSecondarySecondary900: #401505;    
    --colorPrimaryPrimary50: #e8efed;    
    --colorPrimaryPrimary100: #b7cfc6;    
    --colorPrimaryPrimary200: #94b7aa;    
    --colorPrimaryPrimary300: #649684;    
    --colorPrimaryPrimary400: #45826c;    
    --colorPrimaryPrimary500: #176347;    
    --colorPrimaryPrimary600: #155a41;    
    --colorPrimaryPrimary700: #104632;    
    --colorPrimaryPrimary800: #0d3627;    
    --colorPrimaryPrimary900: #0a2a1e;    
    --colorWarningWarning50: #fff6eb;    
    --colorWarningWarning100: #ffe3c0;    
    --colorWarningWarning200: #ffd6a1;    
    --colorWarningWarning300: #ffc376;    
    --colorWarningWarning400: #ffb85c;    
    --colorWarningWarning500: #ffa633;    
    --colorWarningWarning600: #e8972e;    
    --colorWarningWarning700: #b57624;    
    --colorWarningWarning800: #8c5b1c;    
    --colorWarningWarning900: #6b4615;    
    --colorErrorError50: #fce6e6;    
    --colorErrorError100: #f7b1b1;    
    --colorErrorError200: #f38c8c;    
    --colorErrorError300: #ed5757;    
    --colorErrorError400: #e93636;    
    --colorErrorError500: #e40404;    
    --colorErrorError600: #cf0404;    
    --colorErrorError700: #a20303;    
    --colorErrorError800: #7d0202;    
    --colorErrorError900: #600202;    
    --colorGreyM: #f5f7f6;    
    --colorGrey05: #191a1a;    
}