.typographyHHeading1Regular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading1Semibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading2Regular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading2Semibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading3Regular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading3Semibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading4Regular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading4Semibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading5Regular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading5Semibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading6Regular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHHeading6Semibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLargeRegular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLargeSemibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyRegular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySemibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographySmallRegular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographySmallSemibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyXsmallRegular 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyXsmallSemibold 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 120.00000762939453%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

